@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Menghilangkan margin-top pada pilihan multiple Select2 */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 0 !important;
    margin-left: 0 !important;
    background-color: #007362 !important;
    color: white !important;
    padding: 4px 4px 4px 20px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white !important;
    border-right: unset !important;
    padding: 0 6px !important;
    top: auto !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    background-color: transparent !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
}
