body {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.sidebar-wrapper {
  height: 100vh;
  width: 250px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 0 3px -2px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}
.sidebar-wrapper .header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}
.sidebar-wrapper .item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.sidebar-wrapper .item-wrapper .item {
  font-size: 0.875em;
  background-color: transparent;
  color: #B5BEF3;
  transition: all 200ms ease-in-out;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}
.sidebar-wrapper .item-wrapper .item:hover {
  background-color: color-mix(in srgb, 10% white, #5E72E4);
  color: white;
}
.sidebar-wrapper .item-wrapper .item .material-symbols-outlined {
  font-size: 1em;
}
.sidebar-wrapper .item-wrapper .item a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sidebar-wrapper .item-wrapper .item .tree-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sidebar-wrapper .item-wrapper .item-tree {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 0.875em;
  background-color: transparent;
  color: #B5BEF3;
  transition: all 200ms ease-in-out;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  line-height: 0;
}
.sidebar-wrapper .item-wrapper .item-tree:hover {
  background-color: color-mix(in srgb, 10% white, #5E72E4);
  color: white;
}
.sidebar-wrapper .item-wrapper .item-tree .material-symbols-outlined {
  font-size: 1.25em;
}

.overflow-y-scroll {
  /* Ini menggunakan kelas dari Tailwind untuk mengaktifkan scroll vertikal */
  /* Custom scrollbar */
}
.overflow-y-scroll::-webkit-scrollbar {
  width: 5px; /* Lebar scrollbar */
}
.overflow-y-scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Warna track scrollbar */
  border-radius: 10px; /* Border radius untuk track */
}
.overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: #888; /* Warna thumb scrollbar */
  border-radius: 10px; /* Border radius untuk thumb */
}
.overflow-y-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Warna thumb saat hover */
}

.overflow-y-auto {
  /* Menggunakan kelas Tailwind overflow-y-auto untuk memunculkan scrollbar hanya saat overflow */
}
.overflow-y-auto::-webkit-scrollbar {
  width: 4px; /* Lebar scrollbar */
}
.overflow-y-auto::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Warna track scrollbar */
  border-radius: 10px; /* Border radius untuk track */
}
.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #d4d4d8; /* Warna thumb scrollbar */
  border-radius: 10px; /* Border radius untuk thumb */
}
.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* Warna thumb saat hover */
}

.custom-table-wrapper {
  overflow-x: auto !important;
  overflow-y: visible !important;
  max-height: none;
}

.select2-search__field {
  border-radius: 4px;
  padding: 0.324rem 0.525rem !important;
  font-size: 0.725rem;
}
.select2-search__field:focus {
  box-shadow: none;
  border: 1px solid #5E72E4;
}

.select2-results__options {
  font-size: 0.725rem !important;
}
.select2-results__options .select2-results__option {
  padding: 0.65rem 0.525rem !important;
}
.select2-results__options .select2-results__option.select2-results__option--selected {
  background-color: color-mix(in srgb, 80% white, #5E72E4) !important;
  color: #1E293B !important;
}
.select2-results__options .select2-results__option.select2-results__option--highlighted {
  background-color: #5E72E4 !important;
  color: white !important;
}

.select2-selection__arrow {
  display: none !important;
}

.select2-container .select2-selection::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M6 9l6 6 6-6' stroke='currentColor' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center center;
  background-size: contain;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.datepicker-dropdown {
  z-index: 9999;
}
.datepicker-dropdown .datepicker-header .datepicker-controls button {
  padding: 0.25rem 0.5rem;
  font-size: 0.725rem;
}
.datepicker-dropdown .datepicker-header .datepicker-controls button svg {
  width: 0.75rem;
  height: 0.75rem;
}
.datepicker-dropdown .datepicker-main .days-of-week span {
  font-size: 0.725rem;
}
.datepicker-dropdown .datepicker-main .datepicker-grid {
  width: 14rem;
}
.datepicker-dropdown .datepicker-main .datepicker-grid .datepicker-cell {
  font-size: 0.725rem;
  color: #004540;
  height: 2rem;
  line-height: unset;
  align-content: center;
}
.datepicker-dropdown .datepicker-main .datepicker-grid .datepicker-cell:hover {
  background-color: #004540;
  color: white;
}
.datepicker-dropdown .datepicker-main .datepicker-grid .datepicker-cell.selected {
  background-color: #004540 !important;
  color: white;
}
.datepicker-dropdown .datepicker-footer .datepicker-controls button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.725rem;
}
.datepicker-dropdown .datepicker-footer .datepicker-controls button.today-btn {
  background-color: #004540 !important;
  color: white;
  outline: none !important;
}